#graffitiCanvas {
    position: fixed; /* Fixed statt absolute für viewport-feste Positionierung */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Sicherstellen, dass das Canvas über anderen Inhalten liegt */
    pointer-events: none; /* Keine Interaktionen blockieren */
    display: none; /* Standardmäßig ausgeblendet, wird durch JS auf 'block' gesetzt */
}
